<title>
    Login de Usuário
</title>
<template>
    <style>

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding-top: 50px;
        }

        #btnLogin, input[type="text"], input[type="password"]{
            width: 250px;
            height: 30px;
        }

    </style>

    <div class="form">


        <input type="text" id="edtUser" placeholder="usuário">
        <input type="password" id="edtSenha" placeholder="senha">
        <button id="btnLogin" class="btn btn-primary">Login</button>


        <p>Novo usuário? <a onclick="javascript:openHTML('novoUser.html')">clique aqui</a></p>

    </div>

</template>
<script>

    function novoUsuario(){        
        openHTML('novoUser.html')
    }

    document.querySelector('#btnLogin').addEventListener('click',()=>{

        const params = new Object;
            params.email =  document.querySelector('#edtUser').value.trim()
            params.hash = document.querySelector('#edtSenha').value.trim().getHash(30)

        const myPromisse = queryDB(params,16)

        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            if(json.length > 0){
                localStorage.setItem('idUser',json[0].id)
                localStorage.setItem('idAtleta',json[0].id_atleta)
                localStorage.setItem('atleta',json[0].atleta)
                checkLogin()
                document.getElementById("myModal").style.display = "none";
            }else{
                alert('Usuário ou senha inválido!')
                localStorage.clear();
                checkLogin()
            }
        })

    })


</script>