<title>
    Novo Usuário
</title>
<template>
    <style>
        .line{
            display: flex;
            margin: 5px;
        }

        .line label{
            width: 100px;
        }

        
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding-top: 50px;
        }

    </style>

    <div class="form">
        <div class="line">
            <input id="edtUsr" type="text" placeholder="usuário">
        </div>

        <div class="line">
            <input id="edtPass" type="password" maxlength="12" placeholder="senha">
        </div>

        <div class="line">
            <select id="cmbPlayers"></select>
        </div>

        <button  class="btn btn-primary" id="btnAddUser">Salvar</button>
    </div>

</template>
<script>
    fillCmbAtleta(document.querySelector('#cmbPlayers'),13,'Selecione um Jogador')

    document.querySelector('#btnAddUser').addEventListener('click',()=>{

        const idUser = document.querySelector('#cmbPlayers').value
        const email = document.querySelector('#edtUsr').value.trim()
        const pass = document.querySelector('#edtPass').value.trim()

        if(idUser!='0' && email!='' && pass!=''){
            const params = new Object;
                params.id = 'DEFAULT'
                params.email = email
                params.pass = pass.getHash(30)
                params.idUser = idUser
            const myPromisse = queryDB(params,14);
            myPromisse.then((resolve)=>{
                const myPromisse2 = queryDB(params,15)
                myPromisse2.then((resolve)=>{
                    alert('Usuário cadastrado com sucesso!')
                    document.getElementById("myModal").style.display = "none"
                })
            })

        }else{
            alert('Preencha todos os campos obrigatórios')            
        }

    })


</script>